/* TODO: Find ration of w/h in netflix  */



body, html, #app {
  background: #141414;
  height: 100%;
}

p {
  margin-bottom: 5px;
}

.lead {
  margin-bottom: 1rem;
}

.h3, h3 {
  font-size: 1.25rem;
}

.navbar {
  background-color: rgba(0,0,0,.7);
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.navbar-brand svg {
  height: 1.75em;
}

.navbar-brand path {
  stroke: #e50914;
  fill: #e50914;
}

.poster {
  /*height: 150px;*/
  /*height: 0px;*/
  /*padding-top: 56.25%;*/
  margin-left: 2px;
  margin-right: 2px;
  color: #e5e5e5;
  font-family: "Helvetica", "Arial"
}

.poster-original {
  /*height: 530px;*/
  margin-left: 2px;
  margin-right: 2px;
  color: #e5e5e5;
  font-family: "Helvetica", "Arial"
}

.poster-original a,
.poster a {
  color: #e5e5e5;
}

.poster:first-of-type {
  /* margin-left: 15px; */
}

.poster:last-of-type {
  margin-right: 15px;
}

.list-title {
  color: #e5e5e5;
  font-family: "Helvetica", "Arial"
}

.light {
  font-weight: 200;
}

.text-vid-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  /*margin-left: -15px;*/
}

.text-vid-info p {
  font-size: 1vw;
}

.text-vid-info h1 {
  font-size: 2vw;
}



.video-row:hover .poster-original {
  transition: transform .2s ease-in-out;
  /*transform-origin: top;*/
	transform: translateX(-10%);
}

.video-row:hover .poster-original:hover {
  transition: transform .2s ease-in-out;
  /*transform-origin: top;*/
	transform: scale(1.2);
  cursor: pointer;
}

.video-row:hover .poster-original:first-of-type {
  /*transform-origin: left top;*/
  transform-origin: left;
}

.video-row:hover .poster-original:hover ~ .poster-original {
  /*transform-origin: top;*/
	transform: translateX(10%);
}

.video-row:hover .poster-original:first-of-type:hover ~ .poster-original {
  /*transform-origin: top;*/
  transform: translateX(20%);
}






.video-row:hover .poster {
  transition: transform .2s ease-in-out;
  /*transform-origin: top;*/
	transform: translateX(-30%);
}

.video-row:hover .poster:hover {
  transition: transform .2s ease-in-out;
  /*transform-origin: top;*/
	transform: scale(1.6);
  cursor: pointer;
}

.video-row:hover .poster:first-of-type {
  /*transform-origin: left top;*/
  transform-origin: left;
}

.video-row:hover .poster:hover ~ .poster {
  /*transform-origin: top;*/
	transform: translateX(30%);
}

.video-row:hover .poster:first-of-type:hover ~ .poster {
  /*transform-origin: top;*/
  transform: translateX(60%);
}






.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  opacity: 0;
  z-index: 2;
  touch-action: none;
  transition: opacity 1s;
}

.overlay div {
  overflow-y: hidden;
  max-height: 100%;
}

.video-row:hover .overlay:hover {
  opacity: 1;
  touch-action: auto;
  transform: scale(1)
}


.playring {
  background: none repeat scroll 0 0 rgba(0,0,0,.5);
  height: 4.5vw;
  width: 4.5vw;
  border: .225vw solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
}

.poster .playring {
  height: 3vw;
  width: 3vw;
  border: .175vw solid #fff;
}

.playring .icon-play {
  color: #e50914;
  font-size: 200%;
  padding-left: 6%;
}

.poster .playring .icon-play {
  color: #e50914;
  font-size: 130%;
  padding-left: 6%;
}

.description {
  font-weight: 200;
  line-height: 16px;
  font-size: 14px;
}

.poster .overlay .description {
  font-weight: 200;
  line-height: 12px;
  font-size: 10px;
}

.box {
  border: 1px solid white;
  padding: 1px 4px 0px 4px;
}

.row-and-title {
  /*margin-bottom: 150px;*/
}

.hero-video {
  width: 100%;
  /*height: 400px;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #e5e5e5;
}

.container-fluid {
  padding: 0px 60px
}

.flat-button {
  font-size: 1vw;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: .75em;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255,255,255,.4);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
  background-image: none;
  background-color: rgba(0,0,0,.4);
}

.flat-button-primary {
  background-color: #e50914;
  border-color: #ff0a16;
}

.flat-button:hover {
  text-decoration: none;
  color: #fff;
  background-color: rgba(51,51,51,.4);
}

.flat-button-primary:hover {
  background-color: #ff0a16;
}



[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}


.poster, .poster-original {
  /*margin-top: 5%;
  margin-bottom: 5%;*/
}

.video-row {
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}

.row-and-title {
  overflow: scroll;
  overflow-y: hidden;
  padding-top:5%;
  padding-bottom:5%;
}

.gifvideo {
  width: 100%;
}

.SocialMediaShareButton, .SocialMediaShareButton div {
  display: inline;
}

.social-icon {
  margin: 0px 5px 0px 5px;
  border-radius: 50%;
}

.social-icon:hover {
  cursor: pointer;
}
